body {
  font-family: "Noto Serif SC", serif;
  color: #fff;
  cursor: default;

  background: #6a2c70;
}

@keyframes blinking {
  0%  {background: #6a2c70;}
  50%  {background: #6a2c70;}
  55%  {background: #b055ba;}
  70%  {background: #6a2c70;}
  75%  {background: #b055ba;}
  100%  {background: #6a2c70;}
}

#masked-page {
  background-image: url("../../imgs/Asset 2.png");

}
