body {
  font-family: "Noto Serif SC", serif;
  color: #fff;
  cursor: default;

  background: #222;
}

/* @keyframes blinking {
  0%  {background: #6a2c70;}
  50%  {background: #6a2c70;}
  55%  {background: #b055ba;}
  70%  {background: #6a2c70;}
  75%  {background: #b055ba;}
  100%  {background: #6a2c70;}
} */

#masked-page {
  background-image: url("../../imgs/Asset 2.png");

}

#section3 span {
  display: inline-block;
  transition: 0s;
}


#section3 p {
  display: inline-block;
  /* font-size: 1em; */
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: 5s ease-in;
}

#section3 p:hover {
  color: red;
  /* font-size: 5em; */
  transform: matrix(1.5, -0.1, 0, 1.5, 0, 0);
  transition: 30s ease-out;
}

@keyframes slide {
  from {
    background-position-x: 300%;
  }
  to {
    background-position-x: -300%;
  }
}

#ST1 {
  background-image: url("../../imgs/test-text.png");
  animation: 5s linear infinite slide;
  animation-play-state: running;

}

#ST2 {
  background-image: url("../../imgs/test-text_3.png");
  animation: 20s linear infinite slide;
  animation-play-state: running;

}

#ST3 {
  background-image: url("../../imgs/test-text_4.png");
  animation: 15s linear infinite slide;
  animation-play-state: running;

}

.scrolling-test {
  width: 100%;
  height: 20px;
  background-repeat: repeat;
  background-size: contain;
}

#ST1:hover {
  animation-play-state: paused;
}

#ST2:hover {
  animation-play-state: paused;
}

#ST3:hover {
  animation-play-state: paused;
}

#section4 .container {
  padding-top: 10%;
}

.marquee {
  height: 5%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 10vh;

  position: absolute;
  overflow: hidden;

  animation: marquee 2s linear infinite;
  animation-play-state: running;
}

#marq2 div {
  animation: marquee 4s linear -2.5s infinite;
}

#marq3 div {
  animation: marquee 2s linear -1s infinite;
}
#marq4 div {
  animation: marquee 3s linear -2s infinite;
}

.marquee div:hover,  #marq4 div:hover,  #marq3 div:hover,  #marq2 div:hover{
  animation-play-state: paused;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
