body {
  color: #fff;
  cursor: default;

  background: #0e2844;
}

#masked-page {
  background-image: url("../../imgs/Asset 1.png");

}



#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.3;
}

.playText span {
  transition: 1s ease-out;
}
