body {
  font-family: "Noto Serif SC", serif;
  color: #fff;
  cursor: default;

  background: #4f0b20;
}

/* @keyframes blinking {
  0%  {background: #6a2c70;}
  50%  {background: #6a2c70;}
  55%  {background: #b055ba;}
  70%  {background: #6a2c70;}
  75%  {background: #b055ba;}
  100%  {background: #6a2c70;}
} */

#masked-page {
  background-image: url("../../imgs/Asset 3.png");

}

#readplayButton0 {
  background: none;
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.3;
}

.playText span {
  display: inline-block;
}
